.logo {
  width: 142px;
  height: 50px;
}
#hero {
  background-image: url(./images/hero-bg.png);
  padding-top: 80px;
}
.nft-card {
  display: flex;
}
.card-element {
  margin-left: 50px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgb(212, 210, 210);
}
.switch-logo {
  height: 40px;
}
.card-element p {
  font-size: small;
  margin-left: 7px;
}
.card-element h5 {
  margin-top: 15px;
  margin-left: 7px;
  font-size: medium;
}
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article {
  margin-right: 0;
}
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recent {
  padding: 30px;
}
.blogs {
  display: flex;
  justify-content: space-between;
}
